.box {
  position: relative;
  width: 380px;
  border-radius: 10px;
  overflow: hidden;
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  background: linear-gradient(0deg, transparent, #6e0963, #6e0963);
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  background: linear-gradient(0deg, transparent, #6e0963, #6e0963);
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
  animation-delay: -3s;
}

.content {
  position: absolute;
  inset: 2px;
  border-radius: 10px;
  z-index: 10;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.inputBox {
  position: relative;
  width: 100%;
  margin-top: 35px;
}

.inputBox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  z-index: 10;
  color: #1d2434;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  pointer-events: none;
  transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  transform: translateX(-10px) translateY(-34px);
  font-size: 0.75em;
}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i {
  height: 40px;
  transition: 0.5s;
}
